@CHARSET "UTF-8";

/* margin: top, right, bottom, left */

.my-tooltip
{
    padding: 2px;
    vertical-align: top;
}

.my-page-header
{
    margin-left: 20px !important;
}
       
.my-page-footer
{       
    margin: 0px 20px 0px 20px;
}

.panel-margin
{
    margin: 10px;
}

.form-horizontal .form-group
{
    margin-bottom: 5px;
}

.panel-footer .form-group
{
    margin-bottom: 5px;
}

.form-horizontal .form-group .form-control
{
    width: auto;
    margin-left: 12px;
}

.form-horizontal .form-group .radio-inline
{
    border: 0px;
    box-shadow: none !important;
}

.form-horizontal .form-group .control-label 
{
    text-align: left;
}

a.disabled {
    color: gray;
    pointer-events: none;
}
